{% block form %}
    <div class="add_comment">
        <h3>Оставить отзыв</h3>

        {% if app.user %}
            {{ form(form) }}
        {% else %}
            Авторизуйтесь для того чтобы оставлять отзывы
        {% endif %}
        <p class="close">x</p>
    </div>
{% endblock %}

<div class="content container">
    <div class="content-blue">
        <h2>Отзывы: </h2>
    </div>
</div>
<div class="reviews container">
    {% for comment in comments if comment.moderated %}
        <div class="review">
            <div class="author-info">
                <img src="{% if comment.user.webPath %}{{ comment.user.webPath }}{% else %}http://dummyimage.com/95x95/000/fff.jpg&text=profile+image{% endif %}" width="200" height="200">

                <p>{{ comment.user.username }}</p>
            </div>
            <p>{{ comment.text }}</p>
        </div>
    {% endfor %}
</div>