{% extends '@ApplicationUkrLogicMain/layout-main.html.twig' %}

{% block content %}
    <div class="content container">
        <div id="container" class="masonry">
            <div class="box w filter">
                {{ include('@ApplicationUkrLogicMain/Tour/form.html.twig', {form: form}) }}
            </div>
            {{ include('@ApplicationUkrLogicMain/Tour/tiles.html.twig', {tours: tours}) }}
        </div>
    </div>
{% endblock %}