services:
    application.ukrlogic.main.form.country:
        class: Application\UkrLogic\MainBundle\Form\CountryType
        arguments: [@application_ukr_logic_akkord_tour.country_repository]
        tags:
            - { name: form.type, alias: 'country_form' }

    application.ukrlogic.main.form.city:
        class: Application\UkrLogic\MainBundle\Form\CityType
        tags:
            - { name: form.type, alias: 'city_form' }

    application.ukrlogic.main.form.tour:
        class: Application\UkrLogic\MainBundle\Form\TourType
        arguments:
            - @application.ukrlogic.main.form.country
            - @application.ukrlogic.main.form.city
        tags:
            - { name: form.type, alias: 'tour_form' }

    application.ukrlogic.main.xml_to_database:
        class: Application\UkrLogic\MainBundle\Service\XmlToDatabase
        arguments:
            - @doctrine.orm.entity_manager

    application.ukrlogic.twig.extension.string_loader:
        class: Twig_Extension_StringLoader
        tags:
             - { name: 'twig.extension' }
