parameters:
    tours_for_page: 40
services:
    application.ukrlogic.main.form.comment:
        class: Application\UkrLogic\MainBundle\Form\CommentType
        tags:
            - { name: form.type, alias: 'application_ukrlogic_mainbundle_comment' }

    application.ukrlogic.main.xml_to_database:
        class: Application\UkrLogic\MainBundle\Service\XmlToDatabase
        arguments:
            - @doctrine.orm.entity_manager

    application.ukrlogic.twig.extension.string_loader:
        class: Twig_Extension_StringLoader
        tags:
             - { name: 'twig.extension' }

    application.ukrlogic.menu_builder:
        class: Application\UkrLogic\MainBundle\Menu\Builder
        arguments: ["@knp_menu.factory"]

    application.ukrlogic.menu.main:
        class: Application\UkrLogic\MainBundle\Menu\Builder # the service definition requires setting the class
        factory_service: application.ukrlogic.menu_builder
        factory_method: mainMenu
        arguments: ["@security.context"]
        tags:
            - { name: knp_menu.menu, alias: main } # The alias is what is used to retrieve the menu

    application.ukrlogic.menu.profile:
        class: Application\UkrLogic\MainBundle\Menu\Builder # the service definition requires setting the class
        factory_service: application.ukrlogic.menu_builder
        factory_method: profileMenu
        tags:
            - { name: knp_menu.menu, alias: profile } # The alias is what is used to retrieve the menu

    application_ukr_logic_mainbundle.tour_image_extension:
        class: Application\UkrLogic\MainBundle\Twig\TourImageExtension
        calls:
            - [setImagesDir, [%application_ukrlogic_tourbundle.images_dir%]]
        tags:
            - { name: twig.extension }

    application_ukr_logic_mainbundle.get_countries_extension:
        class: Application\UkrLogic\MainBundle\Twig\GetCountriesExtension
        arguments:
            - @application_ukrlogic_tourbundle.country_repository
        tags:
            - { name: twig.extension }

    application_ukr_logic_mainbundle.get_meals_extension:
        class: Application\UkrLogic\MainBundle\Twig\GetMealExtension
        arguments:
            - @application_ukrlogic_tourbundle.meal_repository
        tags:
            - { name: twig.extension }

    application_ukrlogic_mainbundle.form.feedbacktype:
        class: Application\UkrLogic\MainBundle\Form\FeedbackType
        tags:
            - { name: form.type, alias: application_ukrlogic_mainbundle_feedback }