parameters:
    application_ukrlogic_tourbundle.images_dir: "%kernel.root_dir%/../web/images"
services:
    application_ukrlogic_tourbundle.service.gatewaycontainer:
        class: Application\UkrLogic\TourBundle\Service\GatewayContainer

    application_ukrlogic_tourbundle.service.tourparser:
        class: Application\UkrLogic\TourBundle\Service\TourParser
        arguments: [ @application_ukrlogic_tourbundle.service.gatewaycontainer ]

    application_ukr_logic_tourbundle.tour_repository:
        class: Application\UkrLogic\TourBundle\Repository\BusTourRepository
        factory_service: doctrine.orm.entity_manager
        factory_method: getRepository
        arguments:
            - 'ApplicationUkrLogicTourBundle:BusTour'
        calls:
            - [setCountryRepository, [@application_ukr_logic_akkord_tour.country_repository]]

    application_ukr_logic_akkord_tour.country_repository:
        class: Doctrine\ORM\EntityRepository
        factory_service: doctrine.orm.entity_manager
        factory_method: getRepository
        arguments:
            - 'ApplicationUkrLogicTourBundle:Country'

    application_ukr_logic_tourbundle.tour_image_extension:
        class: Application\UkrLogic\MainBundle\Twig\TourImageExtension
        calls:
            - [setImagesDir, [%application_ukrlogic_tourbundle.images_dir%]]
        tags:
            - { name: twig.extension }

    application_ukrlogic_mainbundle.form.feedbacktype:
        class: Application\UkrLogic\MainBundle\Form\FeedbackType
        tags:
            - { name: form.type, alias: application_ukrlogic_mainbundle_feedback }