services:
    application_sonata_admin.image_locator:
        class: Application\Sonata\AdminBundle\Service\ImageLocator

    application_sonata_admin.admin.bus_tour:
        class: Application\Sonata\AdminBundle\Admin\BusTourAdmin
        arguments: [~, Application\UkrLogic\TourBundle\Entity\BusTour, SonataAdminBundle:CRUD]
        tags:
            - {name: sonata.admin, manager_type: orm, group: admin, label: BusTour}

    application_sonata_admin.admin.hotel:
        class: Application\Sonata\AdminBundle\Admin\HotelAdmin
        arguments: [~, Application\UkrLogic\TourBundle\Entity\Hotel, SonataAdminBundle:CRUD]
        tags:
            - {name: sonata.admin, manager_type: orm, group: admin, label: Hotel}
        calls:
            - [ setTemplate, [list, ApplicationSonataAdminBundle:Hotel:list.html.twig]]

    application_sonata_admin.admin.country:
        class: Application\Sonata\AdminBundle\Admin\CountryAdmin
        arguments: [~, Application\UkrLogic\TourBundle\Entity\Country, SonataAdminBundle:CRUD]
        tags:
            - {name: sonata.admin, manager_type: orm, group: admin, label: Country}
        calls:
            - [ setTemplate, [list, ApplicationSonataAdminBundle:Hotel:list.html.twig]]

    application_sonata_admin.admin.page:
        class: Application\Sonata\AdminBundle\Admin\PageAdmin
        arguments: [~, Application\UkrLogic\MainBundle\Entity\Page, SonataAdminBundle:CRUD]
        tags:
            - {name: sonata.admin, manager_type: orm, group: admin, label: Page}

    application_sonata_admin.admin.feedback:
        class: Application\Sonata\AdminBundle\Admin\FeedbackAdmin
        arguments: [~, Application\UkrLogic\MainBundle\Entity\Feedback, SonataAdminBundle:CRUD]
        tags:
            - {name: sonata.admin, manager_type: orm, group: admin, label: Feedback}

    application_sonata_admin.admin.comment:
        class: Application\Sonata\AdminBundle\Admin\CommentAdmin
        arguments: [~, Application\UkrLogic\MainBundle\Entity\Comment, SonataAdminBundle:CRUD]
        tags:
            - {name: sonata.admin, manager_type: orm, group: admin, label: Comment}
