{% extends '@ApplicationUkrLogicMain/layout-main.html.twig' %}

{% block content %}
    <div style="height: 550px;">
        <iframe src="https://color-travel.galileo.com.ua" height="100%" width="100%" allowtransparency
                scrolling="no"></iframe>
    </div>
{% endblock %}