{% extends "ApplicationUkrLogicMainBundle::layout-main.html.twig" %}

{% block content %}
    <div class="content container">
    <div id="container">


    <div class="masonry-news">
    <div class="box w user">
        <div class="user-account">
            <h3>Личный кабинет туриста</h3>
            <div class="user-info">
                <div class="photo">
                    <img src="img/users/user-1.jpg">
                </div>

                <div>
                    <p>Фамилия Имя</p>
                    <p class="nickname">Никнейм</p>
                    <p>+38 (050) 999-99-99</p>
                    <p>user@gmail.com</p>
                </div>
            </div>
        </div>
        <ul class="navigation">
            <li><a href="user-history.html">История просмотров</a>
            </li>
            <li><a href="#">Check-in</a>
            </li>
            <li><a href="#">Бонусы</a>
            </li>
            <li><a href="user-edit.html">Настройки</a>
            </li>
            <li><a href="user-news.html">Служба поддержки</a>
            </li>
            <li><a href="#" class="active">Новости</a>
            </li>
        </ul>
        <a href="#" id="logout">Выход</a>
    </div>
    <div class="m-header">
        <h3>Новости</h3>
        <div class="pagination">
            <span class="active">1</span>
            <a href="#">2</a>
            <a href="#">3</a>
            <span>...</span>
            <a href="">42</a>
        </div>
    </div>
    <a href="#" class="box news">
        <div class="flipper">
            <div class="front">
                <img src="img/news/news-1.jpg" alt="">
                <div class="news-header">
                    <span>Название новости</span>
                </div>
            </div>
        </div>
    </a>
    <a href="#" class="box news">
        <div class="flipper">
            <div class="front">
                <img src="img/news/news-2.jpg" alt="">
                <div class="news-header">
                    <span>Название новости</span>
                </div>
            </div>
        </div>
    </a>
    <a href="#" class="box news">
        <div class="flipper">
            <div class="front">
                <img src="img/news/news-3.jpg" alt="">
                <div class="news-header">
                    <span>Название новости</span>
                </div>
            </div>
        </div>
    </a>
    <a href="#" class="box news">
        <div class="flipper">
            <div class="front">
                <img src="img/news/news-4.jpg" alt="">
                <div class="news-header">
                    <span>Название новости</span>
                </div>
            </div>
        </div>
    </a>
    <a href="#" class="box news">
        <div class="flipper">
            <div class="front">
                <img src="img/news/news-5.jpg" alt="">
                <div class="news-header">
                    <span>Название новости</span>
                </div>
            </div>
        </div>
    </a>
    <a href="#" class="box news">
        <div class="flipper">
            <div class="front">
                <img src="img/news/news-2.jpg" alt="">
                <div class="news-header">
                    <span>Название новости</span>
                </div>
            </div>
        </div>
    </a>
    <a href="#" class="box news">
        <div class="flipper">
            <div class="front">
                <img src="img/news/news-3.jpg" alt="">
                <div class="news-header">
                    <span>Название новости</span>
                </div>
            </div>
        </div>
    </a>
    <a href="#" class="box news">
        <div class="flipper">
            <div class="front">
                <img src="img/news/news-2.jpg" alt="">
                <div class="news-header">
                    <span>Название новости</span>
                </div>
            </div>
        </div>
    </a>
    <a href="#" class="box news">
        <div class="flipper">
            <div class="front">
                <img src="img/news/news-1.jpg" alt="">
                <div class="news-header">
                    <span>Название новости</span>
                </div>
            </div>
        </div>
    </a>


    <div class="m-header-comments box stamp">
        <h3>Новые комментарии</h3>
        <div class="pagination">
            <a href="#" id="toggle-stamp">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <span>...</span>
            <a href="#">23</a>
            <span class="active">24</span>
            <a href="#">25</a>
            <span>...</span>
            <a href="#">42</a>
        </div>
    </div>


    <a href="#" class="box flip-container">
        <div class="flipper">
            <div class="front">
                <img src="img/box/box-bg-6.jpg" alt="">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="flags">
                    <i class="flag-IT"></i>
                </div>
                <div class="country">
                    <span>Альпы</span>
                    <span>1000 &euro;</span>
                </div>
                <div class="comments-count">
                    2
                </div>
            </div>
            <div class="back green">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="country">
                    <span>Альпы</span>
                    <span>1000 &euro;</span>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis nisi, rem, sint aliquid minus rerum distinctio maiores ullam a quis similique facere aperiam dolore hic culpa libero eos consequuntur minima.</p>
            </div>
        </div>
    </a>
    <a href="#" class="box flip-container">

        <div class="flipper">
            <div class="front">
                <img src="img/box/box-bg-5.jpg" alt="">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="flags">
                    <i class="flag-IT"></i>
                </div>
                <div class="country">
                    <span>Дания</span>
                    <span>800 &#36;</span>
                </div>
                <div class="comments-count">
                    6
                </div>
            </div>
            <div class="back blue">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="country">
                    <span>Дания</span>
                    <span>800 &#36;</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis nisi, rem, sint aliquid minus rerum distinctio maiores ullam a quis similique facere aperiam dolore hic culpa libero eos consequuntur minima.</p>
            </div>
        </div>
    </a>
    <a href="#" class="box w flip-container">

        <div class="flipper">
            <div class="front">
                <img src="img/box/box-bg-7.jpg" alt="">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="flags">
                    <i class="flag-IT"></i>
                </div>
                <div class="country">
                    <span>Альпы</span>
                    <span>1000 &euro;</span>
                </div>
                <div class="comments-count">
                    3
                </div>
            </div>
            <div class="back yellow">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="country">
                    <span>Альпы</span>
                    <span>1000 &euro;</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis nisi, rem, sint aliquid minus rerum distinctio maiores ullam a quis similique facere aperiam dolore hic culpa libero eos consequuntur minima.</p>
            </div>
        </div>
    </a>

    <a href="#" class="box flip-container">

        <div class="flipper">
            <div class="front">
                <img src="img/box/box-bg-6.jpg" alt="">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="flags">
                    <i class="flag-IT"></i>
                </div>
                <div class="country">
                    <span>Альпы</span>
                    <span>1000 &euro;</span>
                </div>
                <div class="comments-count">
                    12
                </div>
            </div>
            <div class="back blue">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="country">
                    <span>Альпы</span>
                    <span>1000 &euro;</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis nisi, rem, sint aliquid minus rerum distinctio maiores ullam a quis similique facere aperiam dolore hic culpa libero eos consequuntur minima.</p>
            </div>
        </div>
    </a>
    <a href="#" class="box w flip-container">

        <div class="flipper">
            <div class="front">
                <img src="img/box/box-bg-1.jpg" alt="">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="flags">
                    <i class="flag-IT"></i>
                </div>
                <div class="country">
                    <span>Альпы</span>
                    <span>1000 &euro;</span>
                </div>
                <div class="comments-count">
                    8
                </div>
            </div>
            <div class="back yellow">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="country">
                    <span>Альпы</span>
                    <span>1000 &euro;</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis nisi, rem, sint aliquid minus rerum distinctio maiores ullam a quis similique facere aperiam dolore hic culpa libero eos consequuntur minima.</p>
            </div>
        </div>
    </a>
    <a href="#" class="box flip-container">
        <div class="flipper">
            <div class="front">
                <img src="img/box/box-bg-6.jpg" alt="">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="flags">
                    <i class="flag-IT"></i>
                </div>
                <div class="country">
                    <span>Альпы</span>
                    <span>1000 &euro;</span>
                </div>
                <div class="comments-count">
                    2
                </div>
            </div>
            <div class="back green">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="country">
                    <span>Альпы</span>
                    <span>1000 &euro;</span>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis nisi, rem, sint aliquid minus rerum distinctio maiores ullam a quis similique facere aperiam dolore hic culpa libero eos consequuntur minima.</p>
            </div>
        </div>
    </a>
    <a href="#" class="box w flip-container">

        <div class="flipper">
            <div class="front">
                <img src="img/box/box-bg-7.jpg" alt="">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="flags">
                    <i class="flag-IT"></i>
                </div>
                <div class="country">
                    <span>Альпы</span>
                    <span>1000 &euro;</span>
                </div>
                <div class="comments-count">
                    3
                </div>
            </div>
            <div class="back yellow">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="country">
                    <span>Альпы</span>
                    <span>1000 &euro;</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis nisi, rem, sint aliquid minus rerum distinctio maiores ullam a quis similique facere aperiam dolore hic culpa libero eos consequuntur minima.</p>
            </div>
        </div>
    </a>
    <a href="#" class="box flip-container">

        <div class="flipper">
            <div class="front">
                <img src="img/box/box-bg-5.jpg" alt="">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="flags">
                    <i class="flag-IT"></i>
                </div>
                <div class="country">
                    <span>Дания</span>
                    <span>800 &#36;</span>
                </div>
                <div class="comments-count">
                    6
                </div>
            </div>
            <div class="back blue">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="country">
                    <span>Дания</span>
                    <span>800 &#36;</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis nisi, rem, sint aliquid minus rerum distinctio maiores ullam a quis similique facere aperiam dolore hic culpa libero eos consequuntur minima.</p>
            </div>
        </div>
    </a>
    <a href="#" class="box flip-container">

        <div class="flipper">
            <div class="front">
                <img src="img/box/box-bg-6.jpg" alt="">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="flags">
                    <i class="flag-IT"></i>
                </div>
                <div class="country">
                    <span>Альпы</span>
                    <span>1000 &euro;</span>
                </div>
                <div class="comments-count">
                    12
                </div>
            </div>
            <div class="back blue">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="country">
                    <span>Альпы</span>
                    <span>1000 &euro;</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis nisi, rem, sint aliquid minus rerum distinctio maiores ullam a quis similique facere aperiam dolore hic culpa libero eos consequuntur minima.</p>
            </div>
        </div>
    </a>
    <a href="#" class="box w flip-container">

        <div class="flipper">
            <div class="front">
                <img src="img/box/box-bg-7.jpg" alt="">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="flags">
                    <i class="flag-IT"></i>
                </div>
                <div class="country">
                    <span>Альпы</span>
                    <span>1000 &euro;</span>
                </div>
                <div class="comments-count">
                    3
                </div>
            </div>
            <div class="back yellow">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="country">
                    <span>Альпы</span>
                    <span>1000 &euro;</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis nisi, rem, sint aliquid minus rerum distinctio maiores ullam a quis similique facere aperiam dolore hic culpa libero eos consequuntur minima.</p>
            </div>
        </div>
    </a>
    <a href="#" class="box w flip-container">

        <div class="flipper">
            <div class="front">
                <img src="img/box/box-bg-1.jpg" alt="">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="flags">
                    <i class="flag-IT"></i>
                </div>
                <div class="country">
                    <span>Альпы</span>
                    <span>1000 &euro;</span>
                </div>
                <div class="comments-count">
                    8
                </div>
            </div>
            <div class="back yellow">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="country">
                    <span>Альпы</span>
                    <span>1000 &euro;</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis nisi, rem, sint aliquid minus rerum distinctio maiores ullam a quis similique facere aperiam dolore hic culpa libero eos consequuntur minima.</p>
            </div>
        </div>
    </a>
    <a href="#" class="box flip-container">
        <div class="flipper">
            <div class="front">
                <img src="img/box/box-bg-6.jpg" alt="">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="flags">
                    <i class="flag-IT"></i>
                </div>
                <div class="country">
                    <span>Альпы</span>
                    <span>1000 &euro;</span>
                </div>
                <div class="comments-count">
                    2
                </div>
            </div>
            <div class="back green">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="country">
                    <span>Альпы</span>
                    <span>1000 &euro;</span>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis nisi, rem, sint aliquid minus rerum distinctio maiores ullam a quis similique facere aperiam dolore hic culpa libero eos consequuntur minima.</p>
            </div>
        </div>
    </a>

    <a href="#" class="box flip-container">

        <div class="flipper">
            <div class="front">
                <img src="img/box/box-bg-6.jpg" alt="">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="flags">
                    <i class="flag-IT"></i>
                </div>
                <div class="country">
                    <span>Альпы</span>
                    <span>1000 &euro;</span>
                </div>
                <div class="comments-count">
                    12
                </div>
            </div>
            <div class="back blue">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="country">
                    <span>Альпы</span>
                    <span>1000 &euro;</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis nisi, rem, sint aliquid minus rerum distinctio maiores ullam a quis similique facere aperiam dolore hic culpa libero eos consequuntur minima.</p>
            </div>
        </div>
    </a>
    <a href="#" class="box flip-container">

        <div class="flipper">
            <div class="front">
                <img src="img/box/box-bg-5.jpg" alt="">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="flags">
                    <i class="flag-IT"></i>
                </div>
                <div class="country">
                    <span>Дания</span>
                    <span>800 &#36;</span>
                </div>
                <div class="comments-count">
                    6
                </div>
            </div>
            <div class="back blue">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="country">
                    <span>Дания</span>
                    <span>800 &#36;</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis nisi, rem, sint aliquid minus rerum distinctio maiores ullam a quis similique facere aperiam dolore hic culpa libero eos consequuntur minima.</p>
            </div>
        </div>
    </a>

    <a href="#" class="box flip-container">

        <div class="flipper">
            <div class="front">
                <img src="img/box/box-bg-5.jpg" alt="">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="flags">
                    <i class="flag-IT"></i>
                </div>
                <div class="country">
                    <span>Дания</span>
                    <span>800 &#36;</span>
                </div>
                <div class="comments-count">
                    6
                </div>
            </div>
            <div class="back blue">
                <div class="vehicle">
                    <i class="plain"></i>
                    <i class="bus"></i>
                </div>
                <div class="country">
                    <span>Дания</span>
                    <span>800 &#36;</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis nisi, rem, sint aliquid minus rerum distinctio maiores ullam a quis similique facere aperiam dolore hic culpa libero eos consequuntur minima.</p>
            </div>
        </div>
    </a>
    </div>
    </div>
    <!-- #container -->
    </div>
    <!-- .container -->
{% endblock %}