{% extends '@ApplicationUkrLogicMain/profile-layout.html.twig' %}
{% block profile_content %}
    <div class="m-header">
        <h3>Новости</h3>
    </div>
    {% for post in news %}
        <a href="#" class="box news">
            <div class="flipper">
                <div class="front">
                    <img src="img/news/news-1.jpg" alt="">

                    <div class="news-header">
                        <span>{{ post.title }}</span>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}

    <div class="m-header-comments box stamp">
        <h3>Новые комментарии</h3>
    </div>
    {% include '@ApplicationUkrLogicMain/Tour/tiles.html.twig' with { 'tours': commentsTours } %}
{% endblock %}