<footer class="">
    <div class="half left">
        <p>&copy;COLOR TRAVEL, 2014-20XX</p>

        <p>Вторая строка копирайта или дополнительная информация</p>
    </div>
    <a href="#" class="half right">
        <p>Разработка, дизайн и поддержка</p>

        <p>UKRLOGIC</p>
    </a>
</footer>