<div class="login">
    <h3>Выполните вход на сайт</h3>
    {% block sonata_user_login_error %}
        {% if error %}
            <div class="alert alert-danger alert-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
        {% endif %}
    {% endblock %}
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        <input type="text" name="_username" placeholder="Введите ваш логин" required="required">
        <input type="password" name="_password" placeholder="Введите ваш пароль" required="required">
        <a href="javascript:void(0)" class="forget">Забыли пароль?</a>
        <button type="submit" name="_submit">Войти</button>
    </form>
    <p class="clear registr">... или <a href="javascript:void(0)">Зарегистрируйтесь</a>
    </p>
</div>