<div class="login">
    <h3>Выполните вход на сайт</h3>

    <form>
        <input type="text" name="login" placeholder="Введите ваш логин" required="required">
        <input type="password" name="password" placeholder="Введите ваш пароль" required="required">
        <a href="javascript:void(0)" class="forget">Забыли пароль?</a>
        <button type="submit">Войти</button>
    </form>
    <p class="clear registr">... или <a href="javascript:void(0)">Зарегистрируйтесь</a>
    </p>
</div>