<div class="order_tour">
    <h3>Бронирование тура</h3>
    <form>
        <p class="close">x</p>
        <input type="text" name="fio" placeholder="Ф.И.О." required="required">
        <input type="text" name="phone" placeholder="Введите ваш контактный телефон" required="required">
        <input type="text" name="email" placeholder="Введите ваш e-mail" required="required">
        <p class="terms">
            <b>Кол-во человек:</b> 1-4<br />
            <b>Тип номера:</b> LUX<br />
            <b>Тип питания:</b> Шведский стол<br />
            <b>Продолжительность тура:</b> 14 дней<br />
            <b>Вылет из Харьков:</b> Харьков<br />
        </p>
        <button type="submit">Забронировать</button>
    </form>
</div>
<div class="add_comment">
    <h3>Оставить отзыв</h3>
    <form>
        <p class="close">x</p>
        <input type="text" name="fio" placeholder="Ф.И.О." required="required">
        <textarea name="commnet"  placeholder="Введите отзыв"></textarea>
        <button type="submit">Ок</button>
    </form>
</div>