<div class="recovery">
    <h3>Восстановление пароля</h3>

    <form>
        <input type="text" name="e-mail" placeholder="Введите ваш e-mail" required="required">
        <button type="submit">Отправить</button>
    </form>
</div>