<div class="registration">
    <h3>Регистрация</h3>

    <form>
        <input type="text" name="e-mail" placeholder="Введите ваш e-mail" required="required">
        <input type="password" name="password" placeholder="Введите ваш пароль" required="required">
        <input type="password" name="check-password" placeholder="Повторно введите ваш пароль"
               required="required">
        <input type="text" name="phone" placeholder="Введите ваш контактный телефон" required="required">
        <input type="text" name="captcha" placeholder="Введите код с изображения" required="required">

        <div class="captcha">
            <img src="https://api.fnkr.net/testimg/150x55/00CED1/FFF/?text=captcha" alt="captcha">
        </div>
        <p class="terms">Нажимая кнопку "Зарегистрироваться" Вы соглашаетесь с условиями Lorem ipsum dolor sit
            amet, consectetur adipiscing elit.</p>
        <button type="submit">Зарегистрироваться</button>

    </form>
</div>