<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Color Travel{% endblock %}</title>
    {% block meta_keywords %}{% endblock %}
    {% block meta_description %}{% endblock %}
    {% block stylesheets %}
        {% stylesheets
        'bundles/applicationukrlogicmain/css/template.css'
        'bundles/applicationukrlogicmain/css/flags.css'
        'bundles/applicationukrlogicmain/css/jquery.datepick.css'
        'bundles/applicationukrlogicmain/css/selectordie.css'
        'bundles/applicationukrlogicmain/css/jquery.mCustomScrollbar.css'
        'bundles/applicationukrlogicmain/css/uikit-custom.css' filter="cssrewrite" %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>

    {% javascripts
    '@ApplicationUkrLogicMainBundle/Resources/public/js/jquery.min.js'
    '@ApplicationUkrLogicMainBundle/Resources/public/js/modernizr.custom.js'
    '@ApplicationUkrLogicMainBundle/Resources/public/js/jquery.plugin.js'
    '@ApplicationUkrLogicMainBundle/Resources/public/js/jquery.datepick.min.js'
    '@ApplicationUkrLogicMainBundle/Resources/public/js/jquery-ui.min.js'
    '@ApplicationUkrLogicMainBundle/Resources/public/js/jquery.masonry.min.js'
    '@ApplicationUkrLogicMainBundle/Resources/public/js/jquery.quickflip.source.js'
    '@ApplicationUkrLogicMainBundle/Resources/public/js/selectordie.min.js'
    '@ApplicationUkrLogicMainBundle/Resources/public/js/jquery.mCustomScrollbar.concat.min.js'
    '@ApplicationUkrLogicMainBundle/Resources/public/js/jcarousellite_1.0.1.min.js'
    '@ApplicationUkrLogicMainBundle/Resources/public/js/jquery.jcarousel.min.js'
    '@ApplicationUkrLogicMainBundle/Resources/public/js/jcarousel.connected-carousels.js'
    '@ApplicationUkrLogicMainBundle/Resources/public/js/jquery-animate-css-rotate-scale.js'
    '@ApplicationUkrLogicMainBundle/Resources/public/js/jquery.maskedinput-1.3.min.js'
    '@ApplicationUkrLogicMainBundle/Resources/public/js/template.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block javascripts %}
    {% endblock %}

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="main">
<div class="loadingoverlay">
    <div class="locontent">

        <div class="row">
            <div class="cell">
                <span class="plzwait">Пожалуйста, подождите</span>
                <span class="l-1 dots"></span>
                <span class="l-2 dots"></span>
                <span class="l-3 dots"></span>
                <span class="l-4 dots"></span>
                <span class="l-5 dots"></span>
                <span class="l-6 dots"></span>
            </div>
        </div>
    </div>
</div>
    {% block header %}{% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}

{% javascripts '@ApplicationUkrLogicMainBundle/Resources/public/js/uikit.min.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>

</html>